body {
    background-color: #86c77a;
    font-family: Arial,system-ui,sans-serif;
    margin: 0;
    padding: 0;
}
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #8fe183;
    color: #ffffff;
}

header.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
}

.hero {
    text-align: center;
    color: #6dbe3e;
    padding: 0.1rem 2rem;
    
}

nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
  
  nav ul li a {
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.productos {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.producto {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: #a9d3a2;
    box-shadow: 0 3px 6px rgba(150, 230, 85, 0.5);
    width: 200px;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 9px;
}

.producto button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.producto button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #4b6746;
    color: #fff;
    margin-top: 2rem;
  }
  
  footer .social a {
    color: #86c77a;
    text-decoration: none;
    margin: 0 0.5rem;
  }
  
  footer form {
    margin-top: 1rem;
  }
  
  footer input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
  }
  
  footer button {
    background-color: #4b6746;
    border: none;
    color: #fff;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

@media (max-width: 768px) {
    .productos {
        flex-direction: column;
        align-items: center;
    }

    .producto img{
        width: 90%;
    }
}

@media (max-width: 480px) {
    .producto {
        width: 100%;
    }

    .producto img {
        padding: 8px;
    }

    .producto button {
        width: 100px;
    }
}